html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;
  min-height: 100%;
  min-width: 320px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: rgba(68, 68, 68, 1);
  background-color: rgba(255, 255, 255, 1);

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 24px;
  }
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.wrapper {
  padding: 0 20px;
  box-sizing: border-box;

  @media (min-width: $tablet) {
    padding: 0 30px;
  }

  @media (min-width: $desktop) {
    width: 1220px;
    margin: 0 auto;
    padding: 0;
  }
}

.button {
  @include button-reset;
  @include link-reset;
  display: block;
  padding: 10px 0;
  font-family: $font-family;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  line-height: 20px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  background-color: $base-green;
}

.page-main {
  flex-grow: 1;
}
