.addition {
  @include default-fieldset;
  position: relative;
  margin-bottom: 33px;

  @media (min-width: $tablet) {
    position: static;
    margin-bottom: 0;
  }
}

.addition__container {
  position: relative;

  @media (min-width: $desktop) {
    padding-top: 68px;
    padding-bottom: 61px;
  }

  @media (min-width: $desktop) {
    width: 1220px;
    margin: 0 auto;
    padding-top: 68px;
    padding-bottom: 38px;
  }
}

.addition__title {
  @include fieldest-title;
  position: absolute;
  top: -17px;
  left: 0;
  background-color: rgba(255, 255, 255, 1);

  @media (min-width: $tablet) {
    top: -24px;
  }

  @media (min-width: $desktop) {
    margin: 0;
    left: -40px;
  }
}

.addition__list {
  @include list-reset;
  padding: 42px 20px 0 20px;

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 9px 59px;
    padding: 69px 70px 31px 70px;
  }

  @media (min-width: $desktop) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
    padding: 0;
  }
}

.addition__item {
  position: relative;
  margin-bottom: 13px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet) {
    margin-bottom: 23px;
  }
}
