.addition {
  @include default-fieldset;
  position: relative;

  @media (min-width: $tablet) {
    position: static;
    margin-bottom: 0;
  }
}

.addition__container {
  position: relative;

  @media (min-width: $desktop) {
    padding-top: 68px;
    padding-bottom: 61px;
  }
}

.addition__title {
  @include fieldest-title;
  position: absolute;
  top: -17px;
  left: 0;
  background-color: rgba(255, 255, 255, 1);

  @media (min-width: $desktop) {
    margin: 0;
    left: -45px;
  }
}

.addition__list {
  @include list-reset;
  padding: 43px 20px 34px 20px;

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 69px 70px 22px 70px;
  }

  @media (min-width: $desktop) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
    padding: 0;
  }
}

.addition__item {
  margin-bottom: 13px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet) {
    margin-bottom: 32px;

    &:last-child {
      margin-bottom: 32px;
    }
  }
}
