.card {
  padding: 13px 0 18px 0;
  border-bottom: $border-style-other;

  &:last-child {
    border-bottom: none;
  }

  @media (min-width: $tablet) {
    padding: 28px 38px;
  }

  @media (min-width: $desktop) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0 14px 0;
  }
}

.card__wrapper {
  margin-bottom: 15px;

  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 22px;
  }

  @media (min-width: $desktop) {
    flex-grow: 1;
    align-items: baseline;
    margin-right: 38px;
    margin-bottom: 0;
  }
}

.card__name {
  @include default-title;
  margin-bottom: 13px;
  padding-left: 1px;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: rgba(34, 34, 34, 1);

  @media (min-width: $tablet) {
    margin: -2px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop) {
    flex-basis: 50%;
    flex-shrink: 0;
    margin-right: 20px;
    margin-bottom: 0;
  }
}

.card__info {
  display: flex;
  justify-content: space-between;
  line-height: 14px;
  margin: 0;

  @media (min-width: $tablet) {
    line-height: 20px;
    margin: 0;
  }

  @media (min-width: $desktop) {
    align-items: baseline;
    flex-grow: 1;
    width: 50%;
    margin-bottom: 0;
  }
}

.card__info dt {
  @media (min-width: $tablet) {
    margin-right: 49px;
  }

  @media (min-width: $desktop) {
    margin-right: 20px;
  }
}

.card__info dd {
  margin: 0;

  @media (min-width: $desktop) {
    flex-basis: 45px;
  }
}

.card__order {
  @media (min-width: $desktop) {
    width: 244px;
  }
}
