.catalog {
  border-top: 1px solid rgba(217, 217, 217, 1);

  @media (min-width: $tablet) {
    border: none;
  }
}

.catalog__container {
  @media (min-width: $desktop) {
    width: 1220px;
    margin: 0 auto;
  }
}

.catalog__title {
  @include default-title;
  padding: 27px 20px 41px 20px;
  line-height: 36px;

  @media (min-width: $tablet) {
    padding: 27px 30px 41px 30px;
  }

  @media (min-width: $desktop) {
    padding: 100px 0;
  }
}

.catalog__list {
  @include list-reset;
  margin-bottom: 42px;
  border-bottom: 1px solid rgba(235, 235, 235, 1);

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    margin-bottom: 68px;
    padding: 0 30px;
  }

  @media (min-width: $desktop) {
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
    padding: 0;
  }
}
