.checkbox-control {
  display: flex;
  align-items: center;

  &:active {
    opacity: 0.3;
  }
}

.checkbox-control__mark {
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  margin-right: 16px;
  box-sizing: border-box;
  border: 2px solid rgba(205, 205, 205, 1);

  &::before,
  &::after {
    position: absolute;
    content: "";
    display: none;
    width: 2px;
    background-color: $base-green;
  }

  &::before {
    top: 7px;
    left: 17px;
    height: 17px;
    transform: rotate(41deg);
  }

  &::after {
    top: 12px;
    left: 8px;
    height: 10px;
    transform: rotate(-45deg);
  }

  @media (min-width: $tablet) {
    width: 40px;
    height: 40px;
    margin-right: 19px;

    &::before {
      top: 8px;
      left: 23px;
      height: 22px;
    }

    &::after {
      top: 17px;
      left: 12px;
      height: 12px;
    }
  }
}

.checkbox-control__label {
  @include default-text-form;
  color: rgba(0, 0, 0, 1);

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 30px;
  }
}

.checkbox-control__input:checked ~ .checkbox-control__mark {
  &::after,
  &::before {
    display: block;
  }
}

.checkbox-control:hover .checkbox-control__mark {
  border-color: rgba(186, 186, 186, 1);
}

.checkbox-control__input:focus-visible ~ .checkbox-control__mark {
  outline: 2px solid rgb(36, 83, 211);
}
