.comment {
  @include default-fieldset;
  position: relative;
  margin-bottom: 34px;

  @media (min-width: $tablet) {
    position: static;
    margin-bottom: 0;
  }
}

.comment__container {
  position: relative;

  @media (min-width: $desktop) {
    padding-top: 88px;
    padding-bottom: 91px;
  }

  @media (min-width: $desktop) {
    width: 1220px;
    margin: 0 auto;
    margin-bottom: 83px;
    padding-bottom: 0;
  }
}

.comment__title {
  @include fieldest-title;
  position: absolute;
  top: -17px;
  left: 0;
  background-color: rgba(255, 255, 255, 1);

  @media (min-width: $tablet) {
    top: -24px;
  }

  @media (min-width: $desktop) {
    margin: 0;
    left: -40px;
  }
}

.comment__textarea {
  display: block;
  padding: 47px 20px 0 20px;

  @media (min-width: $tablet) {
    padding: 88px 70px 0 70px;
    margin-bottom: 80px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 0;
    padding: 0;
  }
}

.comment__textarea textarea {
  @include default-form-input;
  box-sizing: border-box;
  padding: 8px 13px;
  width: 100%;
  min-height: 150px;

  @media (min-width: $tablet) {
    min-height: 174px;
    padding: 10px 18px;
  }
}
