.contacts {
  padding-top: 25px;
  background-color: rgba(242, 242, 242, 1);

  &--index-page {
    background-color: rgba(255, 255, 255, 1);
  }

  @media (min-width: $tablet) {
    padding-top: 57px;
    background-color: none;
  }

  @media (min-width: $desktop) {
    padding-top: 0;
  }
}

.contacts__wrapper {
  padding-bottom: 26px;

  @media (min-width: $tablet) {
    padding: 0 70px 61px 70px;
  }

  @media (min-width: $desktop) {
    position: relative;
    padding: 0;
  }
}

.contacts__container {
  display: flex;

  @media (min-width: $tablet) {
    justify-content: space-between;
  }

  @media (min-width: $desktop) {
    position: absolute;
    justify-content: center;
    top: 94px;
    left: 0;
    width: 565px;
    box-sizing: border-box;
    padding: 58px 80px;
    background-color: rgba(255, 255, 255, 1);
    z-index: 10;
  }
}

.contacts__container > * {
  flex-basis: 50%;

  @media (min-width: $tablet) {
    flex-basis: 30%;
  }

  @media (min-width: $desktop) {
    flex-basis: 40%;
  }
}

.contacts__title {
  @include default-title;
  margin-right: 3px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: rgba(17, 17, 17, 1);

  @media (min-width: $tablet) {
    margin-top: 3px;
    margin-right: 96px;
    font-size: 20px;
    line-height: 26px;
  }
}

.contacts__text {
  margin: 0;
  line-height: 20px;
  font-style: normal;

  @media (min-width: $tablet) {
    margin: 0 0 20px 0;
    text-align: right;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media (min-width: $desktop) {
    text-align: left;
    margin-bottom: 19px;
  }
}

.contacts__map {
  height: 362px;
  background-image: url("../img/map-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/map-mobile@2x.jpg");
  }

  @media (min-width: $tablet) {
    height: 400px;
    background-image: url("../img/map-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop) {
    background-image: url("../img/map-desctop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-desctop@2x.jpg");
    }
  }
}
