.footer-social {
  @include list-reset;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 22px;
  padding: 15px 0;
  border-top: 1px solid rgba(217, 217, 217, 1);
  border-bottom: 1px solid rgba(217, 217, 217, 1);

  @media (min-width: $tablet) {
    margin: 0;
    padding: 12px 0;
    border: none;
  }
}

.footer-social__item {
  margin: 0 13px;

  @media (min-width: $tablet) {
    margin: 0 10px;
  }
}

.footer-social__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;

  @media (min-width: $tablet) {
    width: 33px;
    height: 33px;
  }
}

.footer-social__button svg {
  text-align: center;
  vertical-align: middle;
  color: rgba(102, 102, 102, 1);
}

.footer-social__button:hover svg {
  color: $base-green;
}

.footer-social__button:active svg {
  opacity: 0.6;
}


.footer-social__button--vk svg {
  @media (min-width: $tablet) {
    width: 30px;
    height: 22px;
  }
}

.footer-social__button--inst svg {
  @media (min-width: $tablet) {
    width: 23px;
    height: 23px;
  }
}

.footer-social__button--fb svg {
  margin-left: -8px;

  @media (min-width: $tablet) {
    width: 30px;
    height: 40px;
    margin-left: -13px;
  }
}
