.footer-academy {
  @include default-link;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $desktop) {
    margin-top: 5px;
  }
}

.footer-academy svg {
  color: rgba(102, 102, 102, 1);
}

.footer-academy:hover svg {
  color: $base-green;
}

.footer-academy:active svg {
  color: $base-green;
}

.footer-academy:active {
  opacity: 0.3;
}

.footer-academy__text {
  font-size: 16px;
  color: rgba(68, 68, 68, 1);

  @media (min-width: $tablet) {
    margin-right: 22px;
  }
}
