.footer-social {
  @include list-reset;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 22px;
  padding: 19px 0;
  border-top: 1px solid rgba(217, 217, 217, 1);
  border-bottom: 1px solid rgba(217, 217, 217, 1);

  @media (min-width: $tablet) {
    margin: 0;
    border: none;
  }
}

.footer-social__item {
  padding: 0 16px;
}

.footer-social__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 23px;
  height: 23px;

  @media (min-width: $tablet) {
    width: 33px;
    height: 33px;
  }
}

.footer-social__button:hover svg {
  fill: $base-green;
}

.footer-social__button:active svg {
  fill: $base-green;
  opacity: 0.6;
}
