.logo {
  @include link-reset;
  display: flex;
  align-items: center;
  padding-top: 3px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.logo__icon {
  margin-right: 56px;

  @media (min-width: $tablet) {
    margin-right: 13px;
  }
}
