.logo {
  @include link-reset;
  display: flex;
  flex-grow: 1;
  align-items: center;
  margin-right: 63px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet) {
    margin-right: 0;
  }
}

.logo__icon {
  margin-right: 56px;

  @media (min-width: $tablet) {
    width: 174px;
    height: auto;
    margin-right: 0;
  }

  @media (min-width: $desktop) {
    width: 202px;
    height: auto;
  }
}

.logo__name {
  margin: 0 auto;

  @media (min-width: $tablet) {
    display: none;
  }
}
