.main-nav__list {
  @include list-reset;
}

.main-nav__item {
  padding: 22px 0 24px 0;
  font-family: $font-family;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid rgba(230, 230, 230, 1);
}

.main-nav__link {
  @include default-link;
}
