.main-nav {
  position: absolute;
  display: block;
  width: 100%;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 1);
  z-index: 10;

  &--close {
    @media (max-width: $mobile-only) {
      display: none;
    }
  }

  &--open {
    @media (max-width: $mobile-only) {
      display: block;
    }
  }

  @media (min-width: $tablet) {
    position: static;
    display: block;
    width: auto;
    padding: 0;
    background-color: transparent;
  }
}

.no-js .main-nav {
  position: static;
}

.main-nav__list {
  @include list-reset;

  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  @media (min-width: $desktop) {
    width: 610px;
    margin: 0 0 0 auto;
  }
}

.main-nav__list--color .main-nav__link {
  @media (min-width: $desktop) {
    color: rgba(255, 255, 255, 1);
  }
}

.main-nav__item {
  padding: 22px 0 23px 0;
  font-family: $font-family;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid rgba(230, 230, 230, 1);

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet) {
    font-size: 18px;
    line-height: 24px;
    margin-left: 35px;
    padding: 10px 0;
    border: none;

    &--active {
      border-bottom: 2px solid $base-green;
    }
  }

  @media (min-width: $desktop) {
    font-size: 20px;
    line-height: 30px;

    &--active {
      border-bottom: 2px solid $base-green;
    }
  }
}

.main-nav__link {
  @include default-link;
}

.main-nav__list--color .main-nav__item--active {
  @media (min-width: $desktop) {
    border-bottom: 2px solid rgba(255, 255, 255, 1);
  }
}
