.page-footer {
  background-color: $base-grey;
}

.page-footer__info {
  display: flex;
  flex-direction: column;
  padding: 39px 20px 22px 20px;

  @media (min-width: $tablet) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 49px 30px;
  }

  @media (min-width: $desktop) {
    padding: 40px 0;
  }
}
