.page-header {
  @media (min-width: $tablet) {
    display: flex;
    align-items: center;
    padding: 23px 30px;
  }

  @media (min-width: $desktop) {
    width: 1220px;
    margin: 0 auto;
    padding: 51px 30px;
  }
}

.page-header__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 13px 20px;

  @media (min-width: $tablet) {
    display: block;
    padding: 0;
  }
}

.page-header__nav {
  @media (min-width: $tablet) {
    flex-grow: 1;
  }
}
