.product {
  padding: 19px 20px 25px 20px;
  border-top: $border-style-product;

  &--more {
    border-bottom: $border-style-product;
  }

  @media (min-width: $tablet) {
    display: flex;
    flex-direction: column;
    padding: 35px 38px 38px 38px;
    background-image: linear-gradient(to bottom, transparent 20%, rgba(242, 242, 242, 1) 20%, rgba(242, 242, 242, 1));
    border: none;

    &--more {
      box-sizing: border-box;
      margin-top: 106px;
      background: none;
      border: 2px solid rgba(242, 242, 242, 1);
    }
  }

  @media (min-width: $desktop) {
    &--more {
      padding: 35px;
      padding-bottom: 36px;
    }
  }
}

.product__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;

  @media (min-width: $tablet) {
    display: block;
    align-items: center;
    margin-bottom: 32px;
  }
}

.product__img {
  flex-basis: 50%;
  flex-shrink: 0;
}

.product__img img {
  display: block;
  margin: auto auto;

  @media (min-width: $tablet) {
    width: fit-content;
    height: 200px;
    margin-bottom: 31px;
  }

  @media (min-width: $desktop) {
    width: fit-content;
    height: 196px;
    margin-bottom: 46px;
  }
}

.product__info {
  box-sizing: border-box;
  flex-basis: 50%;
  flex-shrink: 0;
  padding-bottom: 10px;

  @media (min-width: $tablet) {
    padding: 0;
  }
}

.product__title {
  @include default-title;
  width: 60%;
  margin-bottom: 14px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  &--more {
    position: relative;
    width: 100%;
    margin-bottom: 8px;
    padding-top: 58px;
    text-align: center;
    color: rgba(17, 17, 17, 1);

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 19px;
      width: 30px;
      height: 2px;
      background-color: rgba(211, 211, 211, 1);
    }

    &::before {
      left: 50%;
      transform: translateX(-50%);
    }

    &::after {
      left: calc(50% - 15px);
      transform: rotate(90deg);
    }
  }

  @media (min-width: $tablet) {
    margin: 0 auto;
    margin-bottom: 14px;
    text-align: center;
    font-size: 20px;
    line-height: 24px;

    &--more {
      width: 60%;
      margin-bottom: 24px;
      padding-top: 124px;
      line-height: 22px;

      &::before,
      &::after {
        width: 60px;
        top: 45px;
      }

      &::after {
        left: calc(50% - 30px);
      }
    }
  }

  @media (min-width: $desktop) {
    width: 80%;
    margin-bottom: 19px;
    line-height: 21px;

    &--more {
      width: 100%;
      margin-bottom: 24px;
      padding-top: 134px;

      &::before,
      &::after {
        top: 53px;
      }
    }
  }
}

.product__title a {
  @include default-link;
}

.product__description {
  margin: 0;
}

.product__item {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet) {
    padding: 7px 0 8px 0;
    border-bottom: 1px solid rgba(205, 205, 205, 1);
  }
}

.product__item dt,
.product__item dd {
  margin: 0;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: $tablet) {
    font-size: 16px;
  }
}

.product__text {
  margin: 0 0 11px 0;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: rgba(68, 68, 68, 1);

  @media (min-width: $tablet) {
    &--more {
      width: 90%;
      margin: 0 auto;
      font-size: 16px;
      line-height: 18px;
    }
  }

  @media (min-width: $desktop) {
    &--more {
      width: 100%;
      margin: 0;
    }
  }
}

.product__order {
  &--more {
    @include button-reset;
    @include link-reset;
    display: block;
    padding: 10px 0;
    color: rgba(68, 68, 68, 1);
    background-color: $base-grey;

    &:hover {
      background-color: rgba(235, 235, 235, 1);
    }

    &:active {
      color: rgba(68, 68, 68, 0.3);
      background-color: rgba(235, 235, 235, 1);
    }
  }

  @media (min-width: $tablet) {
    margin-top: auto;
  }
}
