.programm-form__container {
  @media (min-width: $desktop) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
    width: 1220px;
    margin: 0 auto;
    margin-bottom: 70px;
  }
}
