.programm-info {
  margin: 0 20px 32px 20px;

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 61px;
    align-items: center;
    margin-bottom: 76px;
    padding: 0 51px;
  }

  @media (min-width: $desktop) {
    gap: 82px;
    width: 1220px;
    margin: 0 auto;
    margin-bottom: 80px;
    padding: 0;
  }
}

.programm-info__button {
  width: 100%;
  margin-bottom: 21px;

  @media (min-width: $tablet) {
    font-size: 20px;
    margin-bottom: 0;
    padding: 16px 0;
  }
}

.programm-info__footnotes {
  display: block;
  text-align: center;
  line-height: 16px;
  color: rgba(0, 0, 0, 1);

  @media (min-width: $tablet) {
    text-align: left;
  }
}
