.program {
  @media (min-width: $desktop) {
    margin-bottom: 71px;
  }
}

.program__list {
  @include list-reset;

  @media (min-width: $desktop) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.program__item {
  display: flex;
  flex-direction: column;
  background-color: $base-grey;
  margin-bottom: 20px;
  padding: 20px 33px 0 20px;

  @media (min-width: $tablet) {
    margin-bottom: 30px;
    padding: 77px 316px 57px 52px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 0;
    padding: 45px 51px 59px 52px;
  }
}

.program__title {
  @include default-title;
  margin-bottom: 22px;
  padding-left: 69px;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    padding-left: 0;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 39px;
    padding-left: 162px;
  }
}

.program__text {
  margin: 0 0 23px 0;

  @media (min-width: $tablet) {
    margin-bottom: 52px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 27px;
  }
}

.program__link {
  @include default-link;
  display: block;
  padding: 21px 0;
  font-family: $font-family;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: left;
  text-transform: uppercase;
  border-top: 1px solid rgba(217, 217, 217, 1);

  @media (min-width: $tablet) {
    padding: 0;
    font-size: 20px;
    line-height: 30px;
    border: none;
  }

  @media (min-width: $desktop) {
    margin-top: auto;
  }
}
