.promo {
  position: relative;
  margin-bottom: 20px;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 63%;
    background-color: transparentize($base-green, 0.25);
    z-index: -2;
  }

  @media (min-width: $tablet) {
    margin-bottom: 35px;

    &::after {
      content: none;
    }
  }

  @media (min-width: $desktop) {
    position: static;
    margin-top: 20px;
    margin-bottom: 0;

    &::after {
      content: "";
      left: 50%;
      width: 50%;
      height: 694px;
    }
  }
}

.promo__conteiner {
  @media (min-width: $tablet) {
    position: relative;
    min-height: 810px;
  }

  @media (min-width: $desktop) {
    position: relative;
    min-height: 585px;
  }
}

.promo__content {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 27px;

  @media (min-width: $tablet) {
    display: block;
    width: 420px;
    margin-left: 87px;
    padding-top: 36px;
    text-align: left;
  }

  @media (min-width: $desktop) {
    margin-left: 80px;
  }
}

.promo__title {
  @include default-title;
  margin-bottom: 26px;
  font-size: 36px;
  line-height: 36px;
  color: rgba(255, 255, 255, 1);

  @media (min-width: $tablet) {
    margin-bottom: 41px;
    color: rgba(0, 0, 0, 1);
  }
}

.promo__text {
  margin: 0 0 29px 0;
  font-family: $font-family;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);

  @media (min-width: $tablet) {
    margin-bottom: 49px;
    font-size: 20px;
    line-height: 20px;
    color: rgba(0, 0, 0, 1);
  }

  @media (min-width: $desktop) {
    margin-bottom: 51px;
  }
}

.promo__button {
  order: 1;
  padding: 11px 0;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet) {
    width: fit-content;
    padding: 17px 30px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop) {
    padding: 18px 26px;
  }
}

.promo__img {
  display: block;
  margin-bottom: 3px;

  @media (min-width: $tablet) {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 709px;
    height: fit-content;
    margin: 0 auto;
    z-index: -1;
  }

  @media (min-width: $desktop) {
    top: 0;
    left: 448px;
    transform: none;
    width: 552px;
  }
}

.promo__img img {
  display: block;
  width: 100%;
  height: fit-content;
  margin: 0 auto;
}
