.target {
  @include list-reset;
  padding: 0 20px 18px 20px;
  border-bottom: 1px solid rgba(217, 217, 217, 1);

  @media (min-width: $tablet) {
    margin: 0 70px;
    margin-bottom: 97px;
    padding: 24px 28px;
    border: 1px solid rgba(231, 231, 231, 1);
  }

  @media (min-width: $desktop) {
    margin: 0;
    padding: 24px 27px;
  }
}

.target__item {
  margin-bottom: 13px;

  &:last-child {
    margin-bottom: 0;
  }
}
