.target {
  @include list-reset;
  margin-bottom: 41px;
  padding: 28px 20px 0 20px;
  border-top: 1px solid rgba(217, 217, 217, 1);
  border-bottom: 1px solid rgba(217, 217, 217, 1);

  @media (min-width: $tablet) {
    margin: 0 70px;
    margin-bottom: 96px;
    padding: 28px 28px 5px 28px;
    border: 1px solid rgba(231, 231, 231, 1);
  }

  @media (min-width: $desktop) {
    margin: 0;
  }
}

.target__item {
  margin-bottom: 23px;
}
